<div
  class="back-to-top box-border fixed right-6 z-1024 -bottom-20 rounded py-1 px-1 bg-slate-900 opacity-60 text-white cursor-pointer text-center dark:bg-slate-600"
  title="<%- __('back_to_top') %>"
  aria-label="<%- __('back_to_top') %>"
  tabindex="0"
  role="button"
>
  <span class="flex justify-center items-center text-sm">
    <iconify-icon width="18" icon="ion:arrow-up-c" id="go-top"></iconify-icon>
    <span id="scrollpercent"><span>0</span> %</span>
  </span>
</div>